body {
  margin: 0;
  font-family:"Courier New",Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: rgb(84,79,171);
background: linear-gradient(90deg, rgba(84,79,171,1) 25%, rgba(182,74,133,1) 71%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{

	cursor: pointer;
}